.btnJS {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnJS button {
    width: 9rem;
    height: 9rem;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1rem;
    color: #f4f4f4;
    background: radial-gradient(circle at 30% 25%, hsl(0, 14%, 50%), #342020 70%);
    box-shadow:
        rgba(255, 0, 0, 0.17) 0px -23px 25px 0px inset,
        #ff000026 0px -36px 30px 0px inset,
        rgba(255, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(255, 0, 0, 0.06) 0px 2px 1px,
        rgba(255, 0, 0, 0.09) 0px 4px 2px,
        #642b2b17 0px 8px 4px,
        rgba(255, 0, 0, 0.09) 0px 16px 8px,
        rgba(255, 0, 0, 0.09) 0px 32px 16px;
}

.btnJS button:hover {
    transform: translateY(-2px);
}

@media (max-width: 425px) {
    .btnJS {
        padding: 1rem;
        gap: 1rem;
    }

    .btnJS button {
        width: 7rem;
        height: 7rem;
    }
}